@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
nav{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid white;
    background-color: black;
}
nav h1{
    background-image: linear-gradient(blue, rgb(13, 183, 189));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}
nav .onglets{
    margin-top: 3px;
    margin-left: 700px;
}
nav .onglets a{
    text-decoration: none;
    color: white;
    margin-right: 50px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('https://img.wallpapersafari.com/desktop/1920/1080/5/45/E3Y85D.jpg');
    background-size: 1530px;
    color: white;
    padding: 200px;
}
header h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    padding-top: -5px;
    
}
header h4{
   padding-top: 10px;
    margin-top: -35px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid black;
}
header button{
    padding: 10px 20px;
    background-color: black;
    color:white;
    border:none;
    margin-top: 45px;
    margin-bottom: 0px;
    outline:none;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}

.main{
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:200px;
}
.main .content .card .left{
   flex: 0 0 30%;
   padding: 20px;
   background-color:white;
   color:black;
}
.main .content .card .right img{
    height:425px;
    width: 700px;
    margin-top: 5px;
}

footer{
    margin-top: 40px;
    border-top: 5px solid #6f6f6f;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 30px 100px;;
}
footer h1{
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid black;
    width: 20%;
    padding-bottom: 5px;
}
footer .services{
    margin-top: -10px;
    display:flex;
    flex-wrap:wrap;
}
footer .services .service{
    margin-right: 30px;
}
footer .services .service p{
    max-width: 300px;
}
footer #contact{
    color: rgb(181, 181, 181);
}

@media screen and (max-width:680px){
    nav .onglets {
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .main .card {
        margin: 10px;
    }
    .main .content .card .right img{
        height:200px;
        width: 100%;
        margin-top: -0px;
    }
    .main .content .card{
        display: block;
    }
    footer{
        padding: 30px;
    }
}

